#search{
    font-size: 18px;
}

.cs-nav{
    background-color: #ff5275;
    margin-bottom: 10px;
}

h1, h2{
    text-align: center;
    display: block;
}

.cs-btn-bck{

height: 120px;
width: 60%;
}

.cs-button{
    background-blend-mode: overlay;
    cursor: pointer;
}

.cs-button:hover{

    background-color: #ff5275;

}