#search{
    font-size: 18px;
}

.cs-nav{
    background-color: #ff5275;
    margin-bottom: 10px;
}

h1, h2{
    text-align: center;
    display: block;
}
.cs-btn-srch{
  height: 120px;
  width: 70%;
  margin-top: 10px;
}

.cs-btn-img{
  height: 120px;
  width: 30%;
  margin-top: 10px;
}

.cs-btn-bck{

height: 120px;
width: 60%;
}

.cs-button{
    background-blend-mode: overlay;
    cursor: pointer;
}

.cs-button:hover{

    background-color: #ff5275;

}

*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 100;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    background-color: #ff5275;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 10;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }